üß† **Variables, Data Types, and Expressions**

In [1]:
# Variable assignments
name = "Data Science"
version = 3.11
year = 2025

# Expressions with different data types
total_years = year - 2015
is_active = True

# Display results
print(f"{name} version {version} - Active for {total_years} years: {is_active}")

Data Science version 3.11 - Active for 10 years: True

üîÅ **Control Flow: If-Else Statements and Loops**

In [2]:
# If-else condition
num = 15

if num % 2 == 0:
    print(f"{num} is even")
else:
    print(f"{num} is odd")

# For loop
for i in range(1, 6):
    print(f"Square of {i} is {i ** 2}")

15 is odd
Square of 1 is 1
Square of 2 is 4
Square of 3 is 9
Square of 4 is 16
Square of 5 is 25

üì¶ **Data Structures: Lists, Tuples, Dictionaries, and Sets**

In [3]:
# List
my_list = [10, 20, 30, 40]
print("List:", my_list)

# Tuple (immutable list)
my_tuple = (5, 10, 15)
print("Tuple:", my_tuple)

# Dictionary
my_dict = {"Python": 3.11, "Pandas": 2.1}
print("Dictionary:", my_dict)

# Set (unique values only)
my_set = {1, 2, 2, 3}
print("Set:", my_set)  # Output will ignore duplicate 2

List: [10, 20, 30, 40]
Tuple: (5, 10, 15)
Dictionary: {'Python': 3.11, 'Pandas': 2.1}
Set: {1, 2, 3}

üß© **Functions and Modules**

In [4]:
# Define a simple function
def multiply(a, b):
    return a * b

# Call the function
result = multiply(4, 5)
print("Multiplication Result:", result)

# Example of using a built-in module
import math

radius = 3
area = math.pi * radius ** 2
print(f"Area of circle: {area:.2f}")

Multiplication Result: 20
Area of circle: 28.27

üß± **Object-Oriented Programming (OOP)**

In [5]:
# Define a simple class
class Circle:
    def __init__(self, radius):
        self.radius = radius

    def get_area(self):
        return math.pi * self.radius ** 2

# Create object and use method
c = Circle(5)
print(f"Circle Area (OOP): {c.get_area():.2f}")

Circle Area (OOP): 78.54